{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    forms: {
        orderDetails: _view.orderDetailsForm,
    },
} %}

{% block content %}
    <div class="grid">
        <h3 class="col col--sm-12 title title--secondary-box spacing-bottom spacing-bottom--reset spacing-top spacing-top-bigger">
            {{ 'checkout.step.order_details.title' | trans }}
        </h3>
        <div class="col col--sm-12">
            {% embed molecule('form') with {
                modifiers: ['checkout-actions', 'checkout-form-elements'],
                data: {
                    form: data.forms.orderDetails,
                    submit: {
                        enable: true,
                        text: 'checkout.step.summary' | trans,
                        class: 'button  button--large button--expand'
                    },
                },
            } only %}
                {% block fields %}
                        <div class="col col--sm-12 spacing-bottom spacing-bottom--small">
                            {{ form_row(data.form) }}
                        </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
